//Font size
$header-familly: "Fira Sans",
sans-serif;



$menu-font-size: 20px;
$hedaers-size: 44px;
$small-text-size: 18px;
$big-header-size: 55px;


// title section
$fontSizeTitleSection:55px;
$fontWeeightTitleSection:700;
$fontColorTitleSection: #434141;

// text section
$fontWeight-defaultTxt-section: 400;
$color-defaultTxt-section: #707070;
$fontSize-defaultTxt-section: 16px;

// news section
$titleNewsSizeText: 25px;
$titleNewsColorText: #434141;
$excerptNewsSizeText:16px;
$excerptNewsColorText: #434141;