html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Baloo Thambi 2';

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        color: #000000;
        transition: .3s linear;

        &:hover {
            text-decoration: none;
            color: #DA0021;
        }
    }




    #contact_us {
        position: relative;
        // min-height: 100vh;


        .margin-sec-contact {
            padding: 93px 0 0;
            margin-bottom: 150px;

            .sec-contac_left_block {


                .text-name-title-contact {


                    h3 {
                        margin: 0 0 100px 0;
                        font-size: 38px;
                        font-weight: 400;

                        @media(max-width:550px) {
                            font-size: 30px;
                            text-align: center;
                        }

                        strong {
                            font-size: 48px;
                            font-weight: 400;
                        }
                    }

                    .area_contact-item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 100px;

                        @media(max-width:575px) {
                            flex-direction: column;
                            justify-content: center;
                        }

                        .icon-contact {
                            margin-right: 45px;

                            @media(max-width:1680px) {
                                margin-right: 15px;
                            }

                            @media(max-width:575px) {
                                margin-right: 0;
                            }

                            img {
                                max-width: 100%;
                                height: auto;
                            }
                        }

                        .text-contact {
                            font-size: 16px;
                            line-height: 27px;

                            p {
                                color: #434141;
                                margin-bottom: 0;

                                @media(max-width: 575px) {
                                    text-align: center;
                                    margin-top: 15px;
                                }

                                a {
                                    color: #434141;
                                    text-decoration: none;
                                    transition: .3s ease-in;

                                    &:hover {
                                        color: #DA0021;
                                    }
                                }
                            }
                        }
                    }
                }

                .center-title-and-bull-contact {
                    display: flex;
                    align-items: center;
                    margin-bottom: 100px;
                    margin-top: 100px;

                    @media(max-width:500px) {
                        flex-direction: column-reverse;
                    }


                    h1 {
                        font-size: 55px;
                        font-family: 'Baloo Thambi 2', cursive;
                        font-weight: 700;
                        color: #434141;
                        line-height: 55px;
                        margin-bottom: 0;
                        margin-right: 100px;

                        @media(max-width:500px) {
                            text-align: center;
                        }


                        @media (max-width: 767px) {
                            font-size: 48px;
                        }

                        @media (max-width: 550px) {
                            font-size: 32px;
                            margin-right: 20px;
                        }

                        @media (max-width: 350px) {
                            font-size: 7vw;
                        }
                    }
                }
            }

            .sec-contac_right_block {
                position: absolute;
                top: 0;
                right: -7%;
                height: 100%;
                width: 100%;

                @media(max-width:991px) {
                    display: none;
                }

            }
        }
    }







    .container {
        width: 100%;
        max-width: 1640px;

        @media (max-width: 1680px) {
            max-width: 1440px;
        }

        @media (max-width: 1440px) {
            max-width: 1280px;
        }

        @media (max-width: 1300px) {
            max-width: 1100px;
        }
    }



    .wrapper {
        position: relative;
        overflow: hidden;
    }

    .flex-align-items-center {
        align-items: center;
    }

    $breakpoint-margin-right-first-section: 1600px;
    $breakpoint-tablet: 1199px;
    $breakpoint-tab-phone: 767px;
    $breakpoint-phone: 450px;

    .tnp-subscription input[type=text],
    .tnp-subscription input[type=email],
    .tnp-subscription input[type=submit],
    .tnp-subscription select {
        background-color: #fff !important;
        max-width: 60%;

        @media(max-width:1440px) {
            max-width: 100%;
        }
    }

    .tnp-subscription {
        font-size: 13px;
        display: block;
        margin: 0 !important;
        max-width: 500px;
        width: 100%;

        @media(max-width:767px) {
            margin: 0 auto !important;
        }
    }

    .form-mr-15 {
        padding-right: 15px !important;

        @media(max-width:767px) {
            padding-right: 5px !important;
        }
    }

    .form-ml-15 {
        padding-left: 15px !important;

        @media(max-width:767px) {
            padding-left: 5px !important;
        }
    }

    .center-col-767 {
        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
        }
    }

    .margin-top-75 {
        @media(min-width:768px) {
            margin-top: 75px;
        }
    }

    img.img-scroll {
        animation-name: bounce-scroll;
        animation: bounce-scroll 3s .3s ease-out infinite;
        max-width: 100%;
        height: auto;

        @media(max-width:1199px) {
            max-width: 20px;
        }

    }

    @keyframes bounce-scroll {
        0% {
            transform: translateY(0);
        }

        10% {
            transform: translateY(0);
        }

        30% {
            transform: translateY(-50px);
        }

        50% {
            transform: translateY(0);
        }

        57% {
            transform: translateY(-7px);
        }

        64% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(0);
        }
    }





    .navbar {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        background: #fff;
        min-height: 93px;

        .nav-link {
            color: #000 !important;
            font-weight: 400;
            font-size: $menu-font-size;
            text-transform: uppercase;
            transition: 0.3s;
            margin: 0 15px;

            &:hover {
                color: #da0021 !important;
            }

            @media(max-width:1199px) {
                text-align: center;
            }
        }
    }

    .first-section {
        background-size: cover;
        background-position: center;
        position: relative;

        .scrollArea {
            position: absolute;
            left: 50%;
            bottom: -25px;
            transform: translateX(-50%);
        }

        .margin-first-section {
            margin: 90px 0 120px 0;

            @media (max-width: 991px) {
                margin: 90px 0 0 0;
            }

            @media(max-width: 1300px) {
                padding: 50px 0;
            }

            .center-columns-first-section {
                display: flex;
                align-items: center;

                .first_section_left_block {
                    padding-right: 130px;

                    @media screen and (max-width: $breakpoint-margin-right-first-section) {
                        padding-right: 0;
                    }

                    .title-first-section {
                        margin-bottom: 55px;

                        h1 {
                            font-size: 76px;
                            font-family: 'Baloo Thambi 2', cursive;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-bottom: 40px;
                            color: #434141;
                            line-height: 60px;

                            @media (max-width: 767px) {
                                font-size: 70px;
                                margin-bottom: 20px;
                            }

                            @media (max-width: 550px) {
                                font-size: 50px;
                                margin-bottom: 0;
                            }

                            @media (max-width: 350px) {
                                font-size: 12vw;
                            }
                        }

                        h2 {
                            font-size: 55px;
                            font-family: 'Baloo Thambi 2', cursive;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-bottom: 0;
                            color: #434141;
                            line-height: 45px;

                            @media (max-width: 767px) {
                                font-size: 48px;
                            }

                            @media (max-width: 550px) {
                                font-size: 32px;
                            }

                            @media (max-width: 350px) {
                                font-size: 7vw;
                            }
                        }


                    }

                    p {
                        font-family: 'Baloo Thambi 2', cursive;
                        font-weight: 400;
                        font-size: 16px;
                        margin-bottom: 15px;
                        text-align: justify;
                        color: #707070;
                        line-height: 23px;
                    }

                }

                .buttons-first-section {
                    display: flex;
                    justify-content: space-between;
                    margin: 50px 0;

                    @media (max-width: 767px) {
                        flex-direction: column;
                    }

                    a.btn-siesta-red {
                        background: #da0021;
                        padding: 10px;
                        min-width: 245px;
                        height: 59px;
                        display: inline-block;
                        color: #fff;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        font-family: 'Baloo Thambi 2', cursive;
                        font-weight: 400;
                        text-transform: uppercase;
                        transition: .3s;
                        border: 2px solid #DA0021;
                        font-size: 27px;
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                        &:hover {
                            background: #fff;
                            border: 2px solid #DA0021;
                            color: #DA0021;
                        }

                        @media (min-width:1600px) and (max-width:1680px) {
                            font-size: 22px;
                            min-width: 170px;
                        }

                        @media (min-width:992px) and (max-width:1370px) {
                            font-size: 22px;
                            min-width: 170px;
                        }



                        @media (max-width: 767px) {
                            margin-bottom: 15px;
                        }
                    }

                    a.btn-siesta-yellow {
                        background: #FFD400;
                        padding: 10px;
                        min-width: 245px;
                        height: 59px;
                        display: inline-block;
                        color: #fff;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        font-family: 'Baloo Thambi 2', cursive;
                        font-weight: 400;
                        text-transform: uppercase;
                        transition: .3s;
                        border: 2px solid #FFD400;
                        font-size: 27px;
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                        &:hover {
                            background: #fff;
                            border: 2px solid #FFD400;
                            color: #FFD400;
                        }

                        @media (min-width:1600px) and (max-width:1680px) {
                            font-size: 22px;
                            min-width: 170px;
                        }

                        @media (min-width:992px) and (max-width:1370px) {
                            font-size: 22px;
                            min-width: 170px;
                        }
                    }



                }


                .first_section_right_block {
                    margin-top: 40px;
                    margin-left: 35px;

                    @media(max-width: 991px) {
                        margin-top: 0;
                        margin-left: 0;
                        padding-bottom: 50px;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }

    }

    .two-section {

        .left-block-section-two {
            img {
                margin-left: -69%;
                margin-top: -215px;
                max-width: 70vw;

                @media (max-width: 1850px) {
                    margin-left: -55%;
                    margin-top: -20%;
                }

                @media (max-width: 991px) {
                    display: none;
                }
            }
        }

        .right-block-section-two {
            padding-left: 130px;


            @media (max-width: 1439px) {
                padding-left: 0;
            }

            @media (max-width: 991px) {
                padding-top: 50px;
            }

            .desc-section-two {
                margin-bottom: 50px;
                padding-right: 270px;

                @media (max-width: 1680px) {
                    padding-right: 170px;
                }

                @media (max-width: 1450px) {
                    padding-right: 100px;
                }

                @media (max-width: 1439px) {
                    padding-right: 0;
                }


                p {

                    color: $color-defaultTxt-section;
                    font-size: $fontSize-defaultTxt-section;
                    font-weight: 400;
                    text-align: justify;

                }
            }

            a.btn-siesta-red {
                background: #da0021;
                padding: 10px;
                min-width: 245px;
                height: 59px;
                display: inline-block;
                color: #fff;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-family: 'Baloo Thambi 2', cursive;
                font-weight: 400;
                text-transform: uppercase;
                transition: .3s;
                border: 2px solid #DA0021;
                font-size: 27px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                @media (max-width: 991px) {
                    margin-bottom: 50px;
                }

                @media (max-width: 767px) {
                    width: 100%;
                }

                &:hover {
                    background: #fff;
                    border: 2px solid #DA0021;
                    color: #DA0021;
                }


            }

            .center-title-and-bull {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (max-width: 500px) {
                    flex-direction: column-reverse;
                }

                h3 {
                    font-size: $fontSizeTitleSection;
                    font-weight: $fontWeeightTitleSection;
                    color: $fontColorTitleSection;

                    @media (max-width: 1440px) {
                        font-size: 40px;
                    }

                    @media (max-width: 350px) {
                        font-size: 10vw;
                    }
                }

                .img-title-bull {
                    max-width: 160px;
                    height: auto;

                    @media (max-width: 1300px) {
                        max-width: 100px;
                    }
                }
            }
        }
    }

    .three-section {
        margin-bottom: 120px;
        position: relative;

        .left-col-section-three {
            .center-title-and-bull {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (max-width: 500px) {
                    flex-direction: column-reverse;
                }

                h3 {
                    font-size: $fontSizeTitleSection;
                    font-weight: $fontWeeightTitleSection;
                    color: $fontColorTitleSection;

                    @media (max-width: 1440px) {
                        font-size: 40px;
                    }

                    @media(max-width:350px) {
                        font-size: 10vw;
                    }
                }

                .img-title-bull {
                    max-width: 160px;
                    height: auto;

                    @media (max-width: 1440px) {
                        max-width: 100px;
                    }
                }
            }

            .desc-section-three {
                margin-bottom: 50px;
                padding-right: 230px;

                @media (max-width: 1439px) {
                    padding-right: 0;
                }


                p {

                    color: $color-defaultTxt-section;
                    font-size: $fontSize-defaultTxt-section;
                    font-weight: 400;
                    text-align: justify;

                }
            }

            a.btn-siesta-red {
                background: #da0021;
                padding: 10px;
                min-width: 245px;
                height: 59px;
                display: inline-block;
                color: #fff;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-family: 'Baloo Thambi 2', cursive;
                font-weight: 400;
                text-transform: uppercase;
                transition: .3s;
                border: 2px solid #DA0021;
                font-size: 27px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                &:hover {
                    background: #fff;
                    border: 2px solid #DA0021;
                    color: #DA0021;
                }

                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }

        img.img_bgRight_sec-three {
            position: absolute;
            right: -490px;
            top: -230px;
            width: 60vw;

            @media(max-width: 1700px) {
                position: absolute;
                top: -150px;
                width: 66vw;
            }

            @media(max-width: 1600px) {
                right: -350px;
            }

            @media(max-width: 1480px) {
                top: -100px;
            }

            @media(max-width: 1330px) {
                top: -50px;
            }

            @media(max-width: 1310px) {
                right: -250px;
                top: -100px;
            }


            @media(max-width: 1300px) {
                right: -300px;

            }

            @media(max-width: 1135px) {
                right: -245px;
            }

            @media(max-width: 1100px) {
                top: 0;
            }

            @media(max-width: 991px) {
                position: unset;
                max-width: 100%;
                height: auto;
                display: none;

            }


        }
    }

    .news {
        margin-bottom: 120px;

        @media(max-width:991px) {
            margin-bottom: 70px;
        }

        .title-news-section {
            text-align: center;
            font-size: $fontSizeTitleSection;
            font-weight: $fontWeeightTitleSection;
            color: $fontColorTitleSection;
            line-height: 35px;
            margin-bottom: 50px;

            @media(max-width: 1440px) {
                font-size: 40px;
            }

            @media(max-width: 350px) {
                font-size: 10vw;
            }
        }

        .blocks-news-area {


            .news-item {
                padding: 0 120px;
                margin-bottom: 40px;



                @media(max-width: 1750px) {
                    padding: 0 60px
                }

                @media(max-width: 1300px) {
                    padding: 0 30px;
                }

                @media(max-width: 991px) {
                    padding: 0;
                }

                @media(max-width: 767px) {
                    margin-bottom: 50px;


                }

                .bg-post-img {
                    height: 235px;
                    background-size: cover !important;
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                    margin-bottom: 40px;
                }

                .news-desc-area {
                    min-height: 200px;

                    @media(max-width:991px) {
                        min-height: 240px;
                    }

                    @media(max-width:767px) {
                        min-height: unset;
                    }

                    a {
                        text-decoration: none;

                        .news-title-post {
                            font-size: $titleNewsSizeText;
                            color: $titleNewsColorText;
                            font-weight: 700;
                            text-align: center;
                            margin-bottom: 0;
                            min-height: 150px;

                            @media(max-width: 1440px) {
                                font-size: 30px;
                                margin-bottom: 20px;
                            }

                            @media(max-width:1300px) {
                                font-size: 25px;
                                min-height: 90px;
                            }

                            @media(max-width:1025px) {
                                min-height: 100px;
                            }

                            @media(max-width:991px) {
                                font-size: 23px;
                            }

                            @media(max-width:767px) {
                                min-height: unset;
                            }

                            @media(max-width: 350px) {
                                font-size: 8vw;

                            }
                        }

                        .excerptNewsArea {
                            min-height: 95px;

                            @media(max-width:767px) {
                                min-height: unset;
                            }

                            .news-description {
                                font-size: $excerptNewsSizeText;
                                color: $excerptNewsColorText;
                                font-weight: 400;
                                text-align: center;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .button-news-area {
                    display: flex;
                    justify-content: center;
                    margin-top: 25px;

                    .btn-more-news {
                        background: #FFD400;
                        padding: 10px;
                        min-width: 180px;
                        height: 59px;
                        display: inline-block;
                        color: #fff;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        font-family: 'Baloo Thambi 2', cursive;
                        font-weight: 400;
                        text-transform: uppercase;
                        transition: .3s;
                        border: 2px solid #FFD400;
                        font-size: 27px;
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                        position: relative;
                        z-index: 1;

                        &:hover {
                            background: #fff;
                            border: 2px solid #FFD400;
                            color: #FFD400;
                        }

                        @media(max-width: 767px) {
                            width: 100%;
                        }

                    }
                }

            }

        }
    }

    .last-section {
        position: relative;
        margin-bottom: 120px;

        .left-col-section-last {
            img {
                position: absolute;
                left: -75%;
                top: -160px;
                max-width: 60vw;
            }
        }

        .right-col-section-last {
            padding: 0 130px;

            @media(max-width: 1440px) {
                padding: 0;
            }

            .center-title-bullAndText {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;

                h3 {
                    text-align: center;
                    font-size: $fontSizeTitleSection;
                    font-weight: $fontWeeightTitleSection;
                    color: $fontColorTitleSection;
                    line-height: 47px;
                    margin-bottom: 50px;

                    @media(max-width: 1440px) {
                        font-size: 40px;
                    }

                    @media(max-width: 350px) {
                        font-size: 10vw;
                    }
                }

                img.img-title-bull-last {
                    margin-bottom: 50px;

                    @media(max-width: 1440px) {
                        max-width: 100px;
                        margin-bottom: 20px;
                    }
                }
            }

            .desc-section-last {
                margin-bottom: 50px;

                p {
                    font-size: $excerptNewsSizeText;
                    color: $excerptNewsColorText;
                    font-weight: 400;
                    text-align: center;
                    margin-bottom: 0;
                }
            }

            .btn-last-section-area {
                display: flex;
                justify-content: center;

                a.btn-siesta-red {
                    background: #da0021;
                    padding: 10px;
                    min-width: 245px;
                    height: 59px;
                    display: inline-block;
                    color: #fff;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    font-family: 'Baloo Thambi 2', cursive;
                    font-weight: 400;
                    text-transform: uppercase;
                    transition: .3s;
                    border: 2px solid #DA0021;
                    font-size: 27px;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                    &:hover {
                        background: #fff;
                        border: 2px solid #DA0021;
                        color: #DA0021;
                    }

                    @media(max-width: 767px) {
                        width: 100%;
                        ;
                    }
                }
            }


        }
    }

    .section-info {

        .areaTitleAndBull_sec-info {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 120px;

            @media(max-width: 767px) {
                flex-direction: column;
            }

            img {
                margin-right: 25px;

                @media(max-width: 767px) {
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }

            h3 {
                font-size: 38px;
                font-weight: 400;
                color: #434141;

                @media(max-width: 767px) {
                    text-align: center;
                }
            }
        }

        .list-contact {
            margin-bottom: 100px;

            .area_icon_text_contact_home {
                display: flex;
                align-items: center;
                flex-direction: column;

                .icon-contact-area {
                    height: 80px;
                }

                .text-contact-area {
                    border: none;
                }

                .text-contact-area {
                    border: none;

                    p {
                        font-size: 16px;
                        color: #434141;
                        text-align: center;

                        a {
                            text-decoration: none;
                            color: #434141;
                        }


                    }
                }



            }
        }

    }

    footer {
        clear: both;

        .tnp.tnp-subscription-minimal {
            @media(max-width:767px) {
                display: flex;
                justify-content: center;
            }
        }

        .color-footer {
            background: rgba(158, 193, 210, 0.09);
            padding: 30px 0;
            margin-bottom: 40px;

            .header-footer {
                h3 {
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-bottom: 30px;
                    line-height: 22px;

                    @media(max-width: 767px) {
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }
            }

            .list-link-footer {
                padding: 0;
                list-style: none;

                li {
                    font-size: 17px;
                    font-weight: 400;
                    margin-bottom: 5px;

                    @media(max-width: 767px) {
                        text-align: center;
                    }

                    a {
                        color: #000;
                        transition: .3s;
                        text-decoration: none;

                        &:hover {
                            color: #DA0021;

                        }
                    }
                }
            }
        }

        .downFooter {

            .icon-social-media {
                display: flex;
                justify-content: center;

                a {
                    color: #000;

                    i {
                        font-size: 30px;
                        margin: 0 20px;
                        transition: .3s ease-in;
                        transform: scale(1);

                        &:hover {
                            transform: scale(1.05);
                            color: #DA0021;
                        }
                    }
                }
            }

            .center-info-footer {
                min-height: 40px;
                display: flex;
                align-items: center;
                padding: 40px 0;


                .col-info-footer-right {
                    display: flex;
                    justify-content: flex-end;

                    @media(max-width:767px) {
                        justify-content: center;
                    }
                }

                @media(max-width:767px) {
                    text-align: center;
                }
            }
        }
    }

    #course-all {
        margin-bottom: 120px;

        .scrollArea {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @media(max-width:767px) {
                bottom: -50px;
            }
        }

        .welcome-text {
            position: relative;
            margin: 92px 0 40px;
            min-height: 650px;

            @media(max-width:991px) {
                margin: 60px 0 90px;
                min-height: unset;
            }

            .area-titleAndBull {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 80px 0 20px;



                @media(max-width:500px) {
                    flex-direction: column;
                }

                .bull-courdes-title {
                    max-width: 100px;
                }

                h1 {
                    font-size: 55px;
                    font-family: 'Baloo Thambi 2', cursive;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    color: #434141;
                    line-height: 45px;

                    @media (max-width: 767px) {
                        font-size: 48px;
                    }

                    @media (max-width: 550px) {
                        font-size: 32px;
                    }


                }


            }

            .text-area-description-course {
                min-height: 320px;

                @media(max-width:991px) {
                    max-height: unset;
                    margin-bottom: 50px;
                }

                p {
                    font-family: 'Baloo Thambi 2', cursive;
                    font-weight: 400;
                    font-size: 16px;
                    margin-bottom: 15px;
                    text-align: justify;
                    color: #707070;
                    line-height: 23px;
                }

                a.btn-siesta-red {
                    background: #da0021;
                    padding: 10px;
                    min-width: 245px;
                    height: 59px;
                    display: inline-block;
                    color: #fff;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    font-family: 'Baloo Thambi 2', cursive;
                    font-weight: 400;
                    text-transform: uppercase;
                    transition: .3s;
                    border: 2px solid #DA0021;
                    font-size: 27px;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                    margin: 100px 0;

                    &:hover {
                        background: #fff;
                        border: 2px solid #DA0021;
                        color: #DA0021;
                    }

                    @media(max-width: 767px) {
                        width: 100%;
                    }
                }
            }

            .img-area-description-course {
                margin-bottom: 90px;
                height: calc(100% + 215px);
                width: 120%;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                right: -40%;
                top: -10%;

                @media(max-width:1470px) {
                    right: -27%;
                }

                @media(max-width:991px) {
                    height: 0;
                }

                img {

                    max-width: 130%;
                    height: auto;
                    position: absolute;
                    right: -45%;
                    top: -110px;

                    @media(max-width:1300px) {
                        max-width: 147%;
                        top: -10%;
                    }

                    @media(max-width:1200px) {
                        max-width: 140%;
                        top: -15%;
                        right: -45%;
                    }



                    @media(max-width:767px) {
                        display: none;
                    }

                }
            }

        }

        .choose-courses {
            padding-top: 100px;

            @media(max-width:767px) {
                padding-top: 60px;
            }

            h2 {
                font-size: 55px;
                font-family: 'Baloo Thambi 2', cursive;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 0;
                color: #434141;
                line-height: 45px;
                text-align: center;
                margin-bottom: 100px;

                @media (max-width: 767px) {
                    font-size: 48px;
                }

                @media (max-width: 550px) {
                    font-size: 32px;
                }


            }






            .image-nav-block {
                text-decoration: none;


                &:hover .flag-language-block img {
                    transform: scale(1.05);

                }

                .flag-language-block {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 60px;
                    transition: .3s ease-in;

                    img {
                        transition: .3s ease-in;
                        max-width: 313px;
                        height: auto;
                        border-radius: 50%;
                        margin-bottom: 40px;
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                        transform: scale(1);
                    }

                    h3 {
                        font-size: 40px;
                        font-weight: $fontWeeightTitleSection;
                        color: $fontColorTitleSection;

                        @media (max-width: 1440px) {
                            font-size: 35px;
                        }

                        @media (max-width: 350px) {
                            font-size: 10vw;
                        }


                    }
                }
            }
        }



    }


    div#course-all-filter-page {
        margin: 90px 0;

        .area-title-archive-course-all {
            margin: 150px 0 50px;

            h1 {
                font-size: 55px;
                font-family: 'Baloo Thambi 2', cursive;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 30px;
                color: #434141;
                line-height: 55px;

                @media (max-width: 767px) {
                    font-size: 70px;
                    margin-bottom: 20px;
                    text-align: center;

                }

                @media (max-width: 550px) {
                    font-size: 50px;
                    margin-bottom: 0;
                }

                @media (max-width: 350px) {
                    font-size: 12vw;
                    line-height: 35px;
                }
            }
        }

        .top-lang-filter {
            padding-top: 30px;
            padding-bottom: 90px;
            margin-bottom: -90px;

            .text-area-desc-cat {

                @media(max-width: 767px) {
                    margin-bottom: 50px;
                }

                .area-titleAndBull-cat {
                    display: flex;
                    align-items: center;
                    margin-bottom: 45px;

                    @media(max-width:500px) {
                        flex-direction: column-reverse;
                    }

                    h1 {
                        font-size: 55px;
                        font-family: 'Baloo Thambi 2', cursive;
                        font-weight: 700;
                        margin-bottom: 0;
                        color: #434141;
                        line-height: 48px;

                        @media (max-width: 767px) {
                            font-size: 48px;
                        }

                        @media (max-width: 550px) {
                            font-size: 32px;
                        }


                    }

                    img {
                        max-width: 100px;
                        height: auto;
                    }
                }

                p {
                    font-family: 'Baloo Thambi 2', cursive;
                    font-weight: 400;
                    font-size: 16px;
                    margin-bottom: 15px;
                    text-align: justify;
                    color: #707070;
                    line-height: 27px;
                }
            }

            .img-flag-topFilter {
                display: flex;
                justify-content: flex-end;

                @media(max-width: 767px) {
                    justify-content: center;
                }


                img {
                    max-width: 100%;
                    width: 555px;
                    height: auto;
                    border-radius: 50%;

                    @media(max-width: 767px) {
                        width: 280px;
                    }
                }
            }
        }

        /* FILTROWANIE REALIZACJI */

        .searchandfilter {
            margin-bottom: 100px;

            @media(max-width: 1199px) {
                margin: 50px 0 50px;
            }
        }

        .searchandfilter ul li ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0;

            @media(max-width: 767px) {
                justify-content: center;
            }
        }

        .searchandfilter ul li ul li {
            border: 1px solid #DA0021;
            transition: .3s ease-in;

            &:hover {
                background: #DA0021;
                color: #fff;
            }

            margin: 10px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }

        .searchandfilter ul li ul li label {
            font-size: 25px;
            cursor: pointer;
            padding: 5px 15px;
        }

        @media(max-width:767px) {
            .searchandfilter ul li ul li label {
                font-size: 13px;
                padding: 5px 10px;
            }

            .searchandfilter ul li ul li {
                margin: 5px;
            }
        }

        .searchandfilter ul {
            padding: 0;
        }

        .searchandfilter ul li ul li input.sf-input-radio {
            display: none;
        }

        .searchandfilter ul li ul li.sf-option-active {
            background-color: #DA0021;
            color: white;
        }

        .searchandfilter ul li ul li {
            background-color: white;
            color: #DA0021;
        }

        .searchandfilter ul li {
            padding: 0 !important;
        }



        .searchandfilter li.sf-level-0 input {
            display: none;
        }

        .block-lang-filter {
            margin-bottom: 50px;

            a {
                text-decoration: none;

                .container-img {
                    position: relative;
                    width: 100%;
                    margin-bottom: 40px;

                    &:hover .overly {
                        opacity: 1;
                    }

                    .img-post-thumb {
                        height: 400px;
                        background-repeat: no-repeat !important;
                        background-size: cover !important;
                        background-position: center !important;


                    }

                    .overly {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        transition: 0.5s ease;
                        background-color: rgba(0, 0, 0, 0.6);

                        .text {
                            color: white;
                            font-size: 16px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            width: 100%;
                            padding: 70px;

                            @media(max-width:1199px) {
                                padding: 15px;
                            }
                        }
                    }
                }


                h2 {
                    font-size: 40px;
                    font-weight: $fontWeeightTitleSection;
                    color: $fontColorTitleSection;
                    text-align: center;
                    margin-bottom: 0;
                    min-height: 130px;

                    @media (max-width: 1440px) {
                        font-size: 35px;
                    }

                    @media (max-width: 991px) {
                        min-height: unset;
                        margin-bottom: 40px;
                    }


                    @media (max-width: 350px) {
                        font-size: 10vw;
                    }


                }

                .btn-more-filter-area {
                    display: flex;
                    justify-content: center;

                    .btn-red-more {
                        background: #DA0021;
                        padding: 10px;
                        min-width: 245px;
                        height: 59px;
                        display: inline-block;
                        color: #fff;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        font-family: 'Baloo Thambi 2', cursive;
                        font-weight: 400;
                        text-transform: uppercase;
                        transition: .3s;
                        border: 2px solid #DA0021;
                        font-size: 27px;
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                        &:hover {
                            background: #fff;
                            border: 2px solid #DA0021;
                            color: #DA0021;
                        }

                        @media (min-width:1600px) and (max-width:1680px) {
                            font-size: 22px;
                            min-width: 170px;
                        }

                        @media (min-width:992px) and (max-width:1370px) {
                            font-size: 22px;
                            min-width: 170px;
                        }
                    }
                }

            }
        }

        .contact-bottom-course {
            margin: 90px 0 0 0;
            position: relative;

            h2 {
                font-size: 55px;
                font-family: 'Baloo Thambi 2', cursive;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 90px;
                color: #434141;
                line-height: 45px;

                @media (max-width: 991px) {
                    margin-bottom: 40px;
                    text-align: center;
                }


                @media (max-width: 767px) {
                    font-size: 48px;
                }

                @media (max-width: 550px) {
                    font-size: 32px;
                }

                @media (max-width: 350px) {
                    font-size: 7vw;
                }
            }

            .form-contact {
                .form-group {
                    margin-bottom: 30px;

                    .form-control {
                        padding: 30px;
                        font-size: 20px;
                        line-height: 27px;
                        color: #434141;
                        border: 2px solid #da0021;
                        border-radius: 0;


                        &:focus {
                            color: #495057;
                            background-color: #fff;
                            border-color: #DA0021;
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem rgba(218, 0, 33, .15);
                        }
                    }

                    .form-control-select {
                        padding: 12px 25px;
                        font-size: 20px;
                        line-height: 27px;
                        color: #434141;
                        border: 2px solid #da0021;
                        border-radius: 0;
                        width: 100%;
                        background: #fff;


                        &:focus {
                            color: #495057;
                            background-color: #fff;
                            border-color: #DA0021;
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem rgba(218, 0, 33, .15);
                        }
                    }


                }

            }

            .btn-send-form {
                background: #da0021;
                padding: 10px;
                min-width: 245px;
                height: 59px;
                display: inline-block;
                color: #fff;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-family: 'Baloo Thambi 2', cursive;
                font-weight: 400;
                text-transform: uppercase;
                transition: .3s;
                border: 2px solid #DA0021;
                font-size: 27px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                &:hover {
                    background: #fff;
                    border: 2px solid #DA0021;
                    color: #DA0021;
                }

                @media (max-width: 767px) {
                    width: 100%;
                }
            }

            .img-bg-contact {
                height: 50vw;
                background-repeat: no-repeat;
                position: absolute;
                width: 50vw;
                right: -38%;
                top: -28%;
                background-size: cover;

                @media(max-width:1870px) {
                    right: -12vw;
                    top: -20%;
                }

                @media(max-width:1680px) {
                    right: -13vw;
                    top: -20%;
                    height: 50vw;
                }

                @media(max-width:1620px) {
                    height: 60vw;
                }

                @media(max-width: 1300px) {

                    right: -20%;
                    top: -20%;
                    height: 120%;
                }

                @media(max-width: 1150px) {
                    height: 110vw;
                    height: 80vw;
                    right: -12%;
                }

                @media(max-width:991px) {
                    height: 0;
                }
            }
        }
    }

    #single-post {
        margin: 90px 0 90px;
        min-height: 50vh;

        .single-post-header {
            padding-top: 90px;
            background-size: cover;
            background-position: bottom;

            .center-title-and-bull-course-desc {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 30px;

                @media(max-width:1440px) {
                    img {
                        max-width: 100px;
                        height: auto;
                    }
                }
            }

            .img-course-single-alt {
                margin-left: 12%;
                max-width: 1000px;
                height: auto;

                @media(max-width:991px) {
                    display: none;
                }
            }

            .breadcrumb {
                background-color: transparent;
                padding: 0;
                margin-bottom: 15px;

                p {
                    margin-bottom: 0;
                    font-size: 13px;
                }

                a {
                    color: #434141;
                    text-decoration: none;
                    transition: .3s ease-in;

                    &:hover {
                        color: #DA0021;
                    }
                }

                i {
                    color: #434141;
                    margin-right: 5px;
                }
            }

            .single-post-title {
                h1 {
                    font-size: 55px;
                    font-family: 'Baloo Thambi 2', cursive;
                    font-weight: 700;
                    margin-bottom: 30px;
                    color: #434141;
                    line-height: 55px;

                    @media (max-width: 991px) {
                        line-height: 45px;
                    }

                    @media (max-width: 767px) {
                        font-size: 48px;
                    }

                    @media (max-width: 550px) {
                        font-size: 32px;
                        line-height: 35px;
                    }


                }
            }

            h2 {
                font-size: 55px;
                font-family: 'Baloo Thambi 2', cursive;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 90px;
                color: #434141;
                line-height: 45px;

                @media (max-width: 991px) {
                    margin-bottom: 40px;
                    text-align: center;
                }


                @media (max-width: 767px) {
                    font-size: 48px;
                }

                @media (max-width: 550px) {
                    font-size: 32px;
                }

                @media (max-width: 350px) {
                    font-size: 7vw;
                }
            }

            .content-post-wrap {


                p {
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                .list_information_course {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-bottom: 30px;

                    @media(max-width:1680px) {
                        justify-content: center;
                    }

                    span {
                        background: #DA0021;
                        font-size: 20px;
                        color: #FFFFFF;
                        padding: 10px 30px;
                        font-weight: 700;
                        margin: 10px;
                        line-height: 33px;
                        height: 100%;


                        &:first-child {
                            margin: 0 10px 0 0;
                        }

                        @media(max-width:991px) {
                            padding: 10px 20px;
                        }
                    }
                }
            }

            .imgAreaSingle_course {
                height: 530px;
                background-size: cover !important;
                background-position: center !important;
                background-repeat: no-repeat;
            }



        }

        .contact-bottom-course-contact {
            margin: 90px 0 0 0;
            position: relative;

            h2 {
                font-size: 55px;
                font-family: 'Baloo Thambi 2', cursive;
                font-weight: 700;
                margin-bottom: 90px;
                color: #434141;
                line-height: 55px;

                @media (max-width: 991px) {
                    margin-bottom: 40px;
                    text-align: center;
                }


                @media (max-width: 767px) {
                    font-size: 48px;
                }

                @media (max-width: 550px) {
                    font-size: 32px;
                }

                @media (max-width: 350px) {
                    font-size: 7vw;
                }
            }

            .form-contact {
                .form-group {
                    margin-bottom: 30px;

                    .form-control {
                        padding: 30px;
                        font-size: 20px;
                        line-height: 27px;
                        color: #434141;
                        border: 2px solid #da0021;
                        border-radius: 0;

                        &:focus {
                            color: #495057;
                            background-color: #fff;
                            border-color: #DA0021;
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem rgba(218, 0, 33, .15);
                        }
                    }

                    .form-control-select {
                        padding: 12px 25px;
                        font-size: 20px;
                        line-height: 27px;
                        color: #434141;
                        border: 2px solid #da0021;
                        border-radius: 0;
                        width: 100%;
                        background: #fff;

                        &:focus {
                            color: #495057;
                            background-color: #fff;
                            border-color: #DA0021;
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem rgba(218, 0, 33, .15);
                        }
                    }


                }

            }

            .btn-send-form {
                background: #da0021;
                padding: 10px;
                min-width: 245px;
                height: 59px;
                display: inline-block;
                color: #fff;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-family: 'Baloo Thambi 2', cursive;
                font-weight: 400;
                text-transform: uppercase;
                transition: .3s;
                border: 2px solid #DA0021;
                font-size: 27px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                &:hover {
                    background: #fff;
                    border: 2px solid #DA0021;
                    color: #DA0021;
                }

                @media (max-width: 767px) {
                    width: 100%;
                }
            }

            .img-bg-contact {
                height: 50vw;
                background-repeat: no-repeat;
                position: absolute;
                width: 50vw;
                right: -38%;
                top: 5vh;
                background-size: cover;

                @media(max-width:1870px) {
                    right: -12vw;
                }

                @media(max-width:1680px) {
                    right: -13vw;
                    height: 100%
                }

                @media(max-width:1620px) {
                    height: 100%;
                }

                @media(max-width: 1300px) {

                    right: -20%;

                }

                @media(max-width: 1150px) {
                    right: -12%;
                }

                @media(max-width:991px) {
                    height: 0;
                }
            }
        }
    }

    #o_nas {

        .first-section-about {
            position: relative;

            .margin-first-section-about {
                padding: 93px 0 0;

                .center-columns-first-section {
                    align-items: center;
                    min-height: 75vh;

                    .first_section_left_block {
                        padding-top: 110px;

                        @media(max-width:991px) {
                            padding-bottom: 140px;
                            padding-top: 55px;
                        }

                        .center-title-and-bull {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 55px;

                            @media(max-width:500px) {
                                flex-direction: column-reverse;
                            }

                            h2 {
                                font-size: 55px;
                                font-family: 'Baloo Thambi 2', cursive;
                                font-weight: 700;
                                margin-bottom: 0;
                                color: #434141;
                                line-height: 55px;

                                @media (max-width: 767px) {
                                    font-size: 48px;
                                }

                                @media (max-width: 550px) {
                                    font-size: 32px;
                                    line-height: 40px;

                                }

                                @media(max-width:500px) {
                                    text-align: center;
                                }

                                @media (max-width: 350px) {
                                    font-size: 7vw;
                                }
                            }

                            img {
                                max-width: 140px;
                                height: auto;

                                @media (max-width: 1300px) {
                                    max-width: 100px !important;
                                }
                            }
                        }

                        .desc-section-first-about {
                            p {
                                font-family: 'Baloo Thambi 2', cursive;
                                font-weight: 400;
                                font-size: 16px;
                                margin-bottom: 15px;
                                text-align: justify;
                                color: #707070;
                                line-height: 27px;

                                a {
                                    color: #DA0021;
                                    text-decoration: none;
                                    font-weight: 500;
                                    transition: .3s ease-in;

                                    &:hover {
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }

                    .first_section_right_block {
                        img {
                            margin-top: -20px;

                            @media(max-width: 991px) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .sec-two-about {
            position: relative;

            .left-col-two-sec-aboutArea {
                .bg-left-col-about-two {
                    height: 100%;
                    background-position: bottom right;
                    background-size: cover;
                    position: absolute;
                    width: 100%;
                    background-repeat: no-repeat;
                    left: -20%;
                    bottom: 0;

                    // @media(max-width:1840px) {
                    //     left: -65%;
                    // }

                    // @media(max-width:1760px) {
                    //     left: -60%;
                    // }

                    // @media(max-width:1650px) {
                    //     left: -55%;
                    // }

                    // @media(max-width:1570px) {
                    //     left: -45%;
                    // }
                }
            }

            .right-col-two-sec-about {
                padding: 145px 0;

                @media(max-width:991px) {
                    padding: 55px 0;
                }

                .center-titleAndBull-about {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 55px;

                    img {
                        max-width: 135px;
                        height: auto;

                        @media (max-width: 1300px) {
                            max-width: 100px;
                        }
                    }

                    @media (max-width: 500px) {
                        flex-direction: column-reverse;
                    }

                    h2 {
                        font-size: 55px;
                        font-family: 'Baloo Thambi 2', cursive;
                        font-weight: 700;
                        color: #434141;
                        line-height: 55px;
                        margin-bottom: 0;

                        @media (max-width: 767px) {
                            font-size: 48px;
                        }

                        @media (max-width: 550px) {
                            font-size: 32px;
                        }

                        @media (max-width: 350px) {
                            font-size: 7vw;
                        }
                    }
                }

                .text-area-sec-two {
                    padding-right: 130px;

                    @media(max-width: 1439px) {
                        padding-right: 0;
                    }

                    p {
                        font-family: 'Baloo Thambi 2', cursive;
                        font-weight: 400;
                        font-size: 16px;
                        margin-bottom: 15px;
                        text-align: justify;
                        color: #707070;
                        line-height: 23px;
                    }
                }
            }
        }

        .scrollArea {
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);

        }

        .sec-three-about {
            margin-bottom: 55px;

            .left-col-three-sec-about {
                padding: 145px 0;

                @media(max-width:991px) {
                    padding: 0 0 55px 0;
                }

                .center-titleAndBull-about {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 55px;

                    @media (max-width: 500px) {
                        flex-direction: column-reverse;
                    }

                    h2 {
                        font-size: 55px;
                        font-family: 'Baloo Thambi 2', cursive;
                        font-weight: 700;
                        color: #434141;
                        line-height: 55px;
                        margin-bottom: 0;

                        @media (max-width: 767px) {
                            font-size: 48px;
                        }

                        @media (max-width: 550px) {
                            font-size: 32px;
                        }

                        @media (max-width: 350px) {
                            font-size: 7vw;
                        }
                    }

                    img {
                        max-width: 145px;
                        height: auto;

                        @media (max-width: 1300px) {
                            max-width: 100px;
                        }
                    }
                }

                .text-area-sec-three {
                    padding-right: 130px;

                    @media(max-width: 1439px) {
                        padding-right: 0;
                    }

                    p {
                        font-family: 'Baloo Thambi 2', cursive;
                        font-weight: 400;
                        font-size: 16px;
                        margin-bottom: 15px;
                        text-align: justify;
                        color: #707070;
                        line-height: 23px;
                    }
                }
            }

            .right-col-three-sec-about {
                .bg-right-col-about-three {
                    height: 100%;
                    background-position: top left;
                    background-size: cover;
                    position: absolute;
                    width: 140%;
                    background-repeat: no-repeat;
                    right: -25vw;
                    bottom: 0;
                }
            }
        }

    }


}